<%= form_with(model: renter, local: true) do |form| %>
  <% if renter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(renter.errors.count, "error") %> prohibited this renter from being saved:</h2>

      <ul>
      <% renter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.text_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :registration %>
    <%= form.text_field :registration, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :fact_address %>
    <%= form.text_field :fact_address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :deposit %>
    <%= form.text_field :deposit, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :car_id %>
    <%= form.text_field :car_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if renter.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', renter, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if renter.persisted? %>
      <%= link_to "Cancel", renter, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", renters_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
