<h1>Изменить арендатор</h1>

<%#= render 'form', renter: @renter %>
<%= form_for([@car, @renter], local: true) do |form| %>
  <% if @renter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@renter.errors.count, "error") %> prohibited this renter from being saved:</h2>

      <ul>
      <% @renter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Имя" %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Фамилия" %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Отчество" %>
    <%= form.text_field :middle_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Телефон" %>
    <%= form.text_field :phone, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Паспорт" %>
    <%= form.text_field :passport, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Адрес проживание" %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Прописка" %>
    <%= form.text_field :registration, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Фактический адрес" %>
    <%= form.text_field :fact_address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Депозит" %>
    <%= form.text_field :deposit, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :car_id, :value => params[:car_id] %>
    <%#= form.label :car_id %>
    <%#= form.text_field :car_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if @renter.persisted? %>
      <div class="float-right">
        <%= link_to 'Удалить', car_renter_path(@car, @renter), method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit "Изменить", class: 'btn btn-primary' %>

    <% if @renter.persisted? %>
      <%= link_to "Отменить", car_renter_path(@car, @renter), class: "btn btn-link" %>
    <% else %>
      <%= link_to "Отменить", car_renters_path(@car), class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>