


<div class="row">
  <div class="col-sm-6">
    <h1>Арендаторы</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_car_renter_path(car_id: params[:car_id]), class: 'btn btn-primary' do %>
    Создать новый арендатор
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Телефон</th>
        <th>Email</th>
        <th>Машина</th>
            
        <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @renters.each do |renter| %>
        <%= content_tag :tr, id: dom_id(renter), class: dom_class(renter) do %>
          
          <td><%= renter.first_name %></td>
          <td><%= renter.last_name %></td>
          <td><%= renter.phone %></td>
          <td><%= renter.email %></td>
          <td><%= renter.car.make %>&nbsp;&nbsp;<%= renter.car.model %></td>
        
        
          <td><%= link_to 'Показать', car_renter_path(@car, renter) %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
