<div class="page-header">
  <%= link_to car_renters_path(@car), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Все арендаторы
  <% end %>
  <%= link_to edit_car_renter_path(@car, @renter), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Изменить арендатор
  <% end %>
  <h1>Show renter</h1>
</div>

<dl class="dl-horizontal">
  <dt>Имя:</dt>
  <dd><%= @renter.first_name %></dd>

  <dt>Фамилия:</dt>
  <dd><%= @renter.last_name %></dd>

  <dt>Телефон:</dt>
  <dd><%= @renter.phone %></dd>

  <dt>Email:</dt>
  <dd><%= @renter.email %></dd>

  <dt>Машина:</dt>
  <dd><%= @renter.car.make %>&nbsp;&nbsp;<%= @renter.car.model %>&nbsp;&nbsp;<%= @renter.car.plate %></dd>

</dl>
<%= link_to renter_report_path(@renter), class: 'btn btn-success' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Показать все отчёты
<% end %>
<br><br>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>Расходы</th>
        <th>Доходы</th>
        <th>Дата</th>
        <th>Итого</th>
        
      </tr>
    </thead>

    <tbody>
      <% @rentings.each do |renting| %>
        <%= content_tag :tr, id: dom_id(renting), class: dom_class(renting) do %>
          
          <td><%= renting.expense %></td>
          <td><%= renting.income %></td>
          <td><%= renting.payment_date %></td>
          <td><%= renting.give_total %></td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>