<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <%= form_tag car_report_path, method: :get do %>
      <div class="form-group">
        <%= label_tag :from_date, 'Дата от', class: 'col-sm-2 control-label' %>
        <%= date_field_tag :from_date, params[:from_date], class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= label_tag :to_date, 'Дата до', class: 'col-sm-2 control-label' %>
        <%= date_field_tag :to_date, params[:to_date], class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= submit_tag 'Отправить', class: 'btn btn-success btn-block ' %>
      </div>
    <% end %>
  </div>
  <div class="col-md-3"></div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <%= link_to 'Скачать отчёт как Excel', car_report_path(@car, format: :xlsx), class: 'btn btn-success btn-block' %>
  </div>
  <div class="col-md-3"></div>
</div>
<br>
<br>
<hr>
<div class="table table-striped table-hover">
  <span class="badge" style="color: red; font-size: 17px">
    <strong><%= @car.make %>&nbsp;&nbsp;<%= @car.model %></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <strong>Все расходы : </strong><strong><%= @all_expenses.to_f %>&nbsp;сом</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <strong>Все доходы : </strong><strong><%= @all_incomes.to_f %>&nbsp;сом</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <strong>Итого : </strong><strong><%= @all_totals.to_f %>&nbsp;сом</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span>
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>Расходы</th>
        <th>Доходы</th>
        <th>Дата</th>
        <th>Итого</th>
        <th colspan="2">Арендатор</th>
        
      </tr>
    </thead>

    <tbody>
      <% @all_rentings.each do |renting| %>
        <%= content_tag :tr, id: dom_id(renting), class: dom_class(renting) do %>
          
          <td><%= renting.expense %></td>
          <td><%= renting.income %></td>
          <td><%= renting.payment_date %></td>
          <td><%= renting.give_total %></td>
          <td><%= renting.renter.first_name %>&nbsp;<%= renting.renter.last_name %></td>
          <td><%= renting.renter.phone %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>