<div class="page-header">
  <%= link_to cars_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Все Машины
  <% end %>
  <%= link_to edit_car_path(@car), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Изменить машины
  <% end %>
  <h1>Показать машины</h1>
</div>

<dl class="dl-horizontal">
  <dt>Марка:</dt>
  <dd><%= @car.make %></dd>

  <dt>Модель:</dt>
  <dd><%= @car.model %></dd>

  <dt>ГОС.номер:</dt>
  <dd><%= @car.plate %></dd>

  <dt>Месячная аренда:</dt>
  <dd><%= @car.monthly_rent %></dd>

  <dt>Посуточная аренда:</dt>
  <dd><%= @car.daily_rent %></dd>

</dl>
<%= link_to car_report_path(@car), class: 'btn btn-success' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Показать все отчёты
<% end %>
<br><br>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>Расходы</th>
        <th>Доходы</th>
        <th>Дата</th>
        <th>Итого</th>
        
      </tr>
    </thead>

    <tbody>
      <% @rentings.each do |renting| %>
        <%= content_tag :tr, id: dom_id(renting), class: dom_class(renting) do %>
          
          <td><%= renting.expense %></td>
          <td><%= renting.income %></td>
          <td><%= renting.payment_date %></td>
          <td><%= renting.give_total %></td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

